<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="mystyle.css">
    <script src="myscript.js"></script>t
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="ironman.jpg" alt="" height="150px">
                <form action="/doAdd" method="POST" role="form">
                    <legend>Register</legend>

                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" id="" name="txtName" placeholder="Input field">
                        <span class="label label-warning">{{error.username}}</span>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="text" class="form-control" id="" name="txtPassword" placeholder="Input field">
                        <span class="label label-warning">{{error.password}}</span>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="jsDemo()">Submit</button>
                </form>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>